/bin/
/build/
/.gradle/
/.settings/
/bytecode/
/repository/cache/
/repository/cache-other/
/repository/cache-tmp/
/repository/maps/
/repository/models/
/repository/sprites/
/repository/textures/
/repository/types/
/repository/xtea/
/repository/songs/
/repository/collision-maps/
/full_image.png
/base_image.png
/title.jpg
